<h2 id="title">Welcome to Ember</h2>

{{#link-three 'one' 12}}asdf{{/link-three}}
{{#link-three 'two'}}asdf{{/link-three}}
{{#link-three 'three'}}asdf{{/link-three}}
{{#link-three 'four'}}asdf{{/link-three}}

{{outlet}}
