<h2 id="title">Welcome to Ember</h2>

{{#fast-link-to 'one' 12 class='one'}}asdf{{/fast-link-to}}
{{#fast-link-to 'two' class='two'}}asdf{{/fast-link-to}}
{{#fast-link-to 'three' class='three'}}asdf{{/fast-link-to}}
{{#fast-link-to 'four' class='four'}}asdf{{/fast-link-to}}

{{outlet}}
