<h2 id="title">Welcome to Ember</h2>

{{#fast-link-to 'one' 12}}asdf{{/fast-link-to}}
{{#fast-link-to 'two'}}asdf{{/fast-link-to}}
{{#fast-link-to 'three'}}asdf{{/fast-link-to}}
{{#fast-link-to 'four'}}asdf{{/fast-link-to}}

{{outlet}}
